{%extends "base.html"%}
{%block title%} Login{%endblock%}
{%block content%}
<div class="row text-center vertical-middle-cm">
<div class="img">
  <a target="_blank" href="{{content_url}}">
  <img src='{{ content_url }}'alt="content貌似没有找到唉" width="361" height="320"/>
  </a>
  <div class="desc">原始图像</div>
</div>
<div class="img">
  <a target="_blank" href="{{style_url}}">
  <img src="{{ style_url}}" alt="style貌似没有找到唉" width="320" height="320"/>
  </a>
  <div class="desc">风格图像</div>
</div>
<div class="img">
  <a target="_blank" href="{{res_url}}">
  <img src='{{ res_url}}'alt="图像还没有生成, 请稍等" width="320" height="320" />
  </a>
  <div class="desc">合成图像</div>
</div>

</div>
{%endblock%}
