{%extends "base.html"%}
{%block title%} Login{%endblock%}
{%block content%}
<div class="row text-center vertical-middle-cm">
<form action="" method="post" enctype="multipart/form-data" id="styleform" >{% csrf_token %}

<fieldset>

<legend>准备创建视频</legend>

<div >
  <label>上传内容图片</label>
<input id=avatar1 type="file" name="content" />
</div>
<div >
  <label>上传风格图片</label>

  <input id=avatar2 type="file" name="style" />
</div>
<br>
<div >
  <input type="submit" value="上传"/>
<div>



</fieldset>

</div>
{%endblock%}
