{%extends "base.html"%}
{%block title%} Login{%endblock%}
{%block content%}
<div class="row text-center vertical-middle-cm">
<form action="" method="post" enctype="multipart/form-data" id="styleform" >{% csrf_token %}

<fieldset>

<legend>准备创建视频</legend>

<div >
  <label>上传内容图片</label>
  <input type="file" id='up_content' name="content" />
</div>


<div >
  <label>上传风格图片</label>
  <input  type="file" id='up_style' name="style" />
</div>

<div class="img" id="image_content">
  <img src="" width="320" height="320"/>
  <div class="desc">内容图像</div>
</div>
<div class="img" id="image_style">
  <img src="" width="320" height="320"/>
  <div class="desc">风格图像</div>
</div>

<div >
  <input type="submit" value="上传"/>
<div>


</fieldset>

</div>

  <script type="text/javascript">
    document.getElementById('up_content').onchange = function() {
    var imgFile = this.files[0];
    var fr = new FileReader();
    fr.onload = function() {
        document.getElementById('image_content').getElementsByTagName('img')[0].src = fr.result;
    };
    fr.readAsDataURL(imgFile);
  }; 
    document.getElementById('up_style').onchange = function() {
    var imgFile = this.files[0];
    var fr = new FileReader();
    fr.onload = function() {
        document.getElementById('image_style').getElementsByTagName('img')[0].src = fr.result;
    };
    fr.readAsDataURL(imgFile);
  }; 
</script>
{%endblock%}
